<div class="jumbotron">
  <h1 class="display-4">О проекте!</h1>
  <p class="lead"><p><h3>Общая суть.</h3>
Необходимо реализовать приложение которое поможет художнику общаться с заказчиком и выполнять его работы. В общем виде процесс выглядит следующим образом. Заказчик на сайте художника после регистрации создает заказ к которому прикрепляет изображение с указанием того что необходимо с ним сделать. Заказ имеет несколько статусов которые он проходит в процессе работы.
<br>
1. Новый - созданный заказ, еще не оцененный художником<br>
2. Оцененный - заказ который оценил художник и проставил для него цену<br>
3. В работу - заказчик согласился с ценой<br>
4. Проверка - художник сделал работу и прикрепил ее к задаче (нюансы чуть ниже)<br>
5. Оплаченный - завершенный заказ.<br>

Хитрость в том что художник после завершения работы прикладывает работу (картинку) в заказу но заказчик не может ее скачать до того момента пока не оплатит, а только видит thumbnail (маленькую картинку) ну или картинку с водяными знаками. После оплаты заказа картинка становится доступна без ограничений.<br>

Необходимый функционал (через дефис я указывал гемы которым следует его реализовывать): <br>
1. Регистрация/авторизация для заказчика - devise <br>
2. Админка, базовая без излишеств, в ней будет работать только художник - activeadmin<br>
3. Возможность загружать и хранить картинки - carrierwave<br>
* возможность выгружать картинки на S3 - это пока оставим под звездочкой, посмотрим как у тебя пойдет если проблем не будет попробуем реализовать<br>
4. Платежи - stripe, это тоже лучше прикрутить после базового функционала.<br>
5. Интерфейс приложения - bootstrap, с ним верстка не должна занять много времени.
Помимо админки хватит пары страниц для взаимодействия с заказчиком<br>

Замечания:
Страницы верстай сразу в slim, он сейчас на 80% проектов, для CSS используй saas либо scss. Ну и javascript если до него дойдет лучше все делать в coffee. В целом будет работать и по-старинке но все что я перечислил относится к “глазури” и позволяет ускорить разработку довольно прилично
</p></p>


<p class="main_part">приложение Rails v5.2.1</p>
</div>