<div class="jumbotron">

  <h1 class="display-4">О проекте</h1>
   <p class="lead">это социальная сеть для обмена фотографиями.</p>

 
</div>


<p class="main_part">Это мое новое Rails приложение версии 5.2.1</p>