<div class="card photo-form">
  <div class="card-header">
    <h2>Создать фото</h2>
  </div>
  <div class="card-body">

<%= render 'form', photo: @photo %>

<%= link_to 'Back', photos_path %>
 </div>
</div>
