@import url("https://fonts.googleapis.com/css?family=Comfortaa");
$display4-size: 2.5rem;/*размер шрифта*/
$jumbotron-bg: rgba(255,255,255, 0.1);/* цвет джимбатрона(квадратная херня по среди экрана)*/
$card-cap-bg:  rgba(255,255,255, 0.4);/* цвет заголовка - входной карточки*/
$card-bg: rgba(255,255,255, 0.6);/* цвет фона карточки*/
$body-bg: #9ca4af; /* цвет фона вьюх index, show*/







@import "bootstrap";/*закачка бутстрапа*/

/*изображение на картинки вов*/
.container-background {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url(image_path('wowhorde.jpg'));
    }
/* форма входа и регистрации*/
.devise-form {
    width: 50%;
    margin-left:auto;
    margin-right:auto;
}

.photo-form {
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}

/*навбар от края до края*/
.container-bar{

    padding-right: 0;
    padding-left: 0;
    text-align:center;

}

.bar-image {
    background-color: rgba(255,255,255, 0.1);
}
 
 /*цвета цекста*/
$text-color: blue;

 .title {
    color: $text-color;

 }

 .introduction{
    color: $text-color;

 }

 .main_part{
    color: $yellow;
 }

/*размер джимбатрона
 .jumbotron-landing{
    width:50%;
    margin-left:auto;
    margin-right:auto;
 }*/

/* цвет, размер кнопки
 .btn-primary {
    color: #2f9987;
    background-color: red;
    border-color: red;
}
/* цвет неактивной ссылки*/
.nav-landing:link,
.nav-landing:visited {
color: #2f9987;
}
/* цвет активной ссылки*/
.nav-landing:hover,
.nav-landing:active {
color: #59ABE3;
text-decoration: none;
}
/* настройка ссылки Изображение*/
.text-logotipe{
    font-family: 'Comfortaa', cursive;
}

.landing-logotipe {
   font-size:2rem;
}
